<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    {{ content | safe }}
  </body>
  <script src="/app.js" async></script>
</html>
